@charset "utf8";

header {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;

    height: var(--header-height);
    width: 100%;

    background-color: var(--white);

    justify-content: center;
    align-items: center;
}

#navlogo {
    height: var(--header-height);
    width: var(--header-height);
} 

#navlogo > img {
    display: block;

    --padding-navlogo: 8px;
    height: calc(100% - var(--padding-navlogo) * 2);
    width: calc(100% - var(--padding-navlogo) * 2);
    padding: var(--padding-navlogo);
}

#header-nav {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-around;
    align-items: center;
}

.navlink {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color5);
}

.navlink:nth-child(1) {
    color: var(--color4);
}

.navlink:hover {
    color: var(--color2);
    transition: 0.4s all ease-in-out;
}

