@import "tailwindcss";

@theme {
    --max-width-main: 1000px;
    --padding-main: 6px;

    --height-header: 70px;
    --height-footer: 100px;

    --color-grey-300: #d3d6dbff;
    --color-grey-400: #3a4750ff;
    --color-grey-500: #303841ff;
    --color-red-500: #be3144ff;
    --color-blue-500: #3156beff;
    --color-orange-500: #ff6f61ff;

    --color-primary: var(--color-blue-500);
    --color-accent: var(--color-grey-400);
    
    --color-error: var(--color-red-500);
    --color-warning: rgb(221, 178, 5);
    --color-valid: rgb(35, 159, 87);
}

.formRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    height: 2.5rem;
}

.formRow > label {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: right;
    vertical-align: middle;
}

.formRow > input {
    height: 100%;
    padding: 0.5rem;
    background-color: var(--color-blue-500);
    border-radius: 0.375rem;
    color: white;
}

.formRow > input::placeholder {
    color: grey;
}

button {
    background-color: var(--color-blue-500);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-blue-600);
}

a:hover {
    color: var(--color-orange-500);
}

.error {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: var(--color-red-500);
}

.pageTitleBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--color-grey-500);
    color: white;
    width: 100%;
    border-radius: 0.375rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
