@import "tailwindcss";

@theme {
    --max-width-main: 1000px;
    --padding-main: 6px;

    --height-header: 70px;
    --height-footer: 100px;

    --color-grey-300: #d3d6dbff;
    --color-grey-400: #3a4750ff;
    --color-grey-500: #303841ff;
    --color-red-500: #be3144ff;
    --color-blue-500: #3156beff;
    --color-orange-500: #ff6f61ff;

    --color-primary: var(--color-blue-500);
    --color-accent: var(--color-grey-400);
    
    --color-error: var(--color-red-500);
    --color-warning: rgb(221, 178, 5);
    --color-valid: rgb(35, 159, 87);
}