@import "tailwindcss";

@theme {
    --font-sans: "Noto Sans", "sans-serif";

    --main-max-width: 1000px;
    --main-padding: 6px;    

    --header-height: 80px;
    --footer-height: 115px;

    --color-grey-300: #d3d6dbff;
    --color-grey-400: #3a4750ff;
    --color-grey-500: #303841ff;
    --color-red-500: #be3144ff;
    --color-blue-500: #3156beff;
    --color-orange-500: #ff6f61ff;

    --color-bg-main-: var(--color-grey-500);
    --color-bg-light: var(--color-grey-300);
    --color-bg-dark: #000000;

    --color-text-light: #ffffff;
    --color-text-dark: #000000;

    --color-primary: var(--color-blue-500);
    --color-accent: var(--color-grey-400);
    
    --color-error: var(--color-red-500);
    --color-warning: rgb(221, 178, 5);
    --color-valid: rgb(35, 159, 87);
}
